.main{
background:linear-gradient(0deg, rgba(255, 248, 242, 0.925) 0%, rgba(255, 250, 247, 0.88) 100%);
width: auto;
}
.story{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(0deg, rgba(255, 248, 242, 0.925) 0%, rgba(255, 250, 247, 0.88) 100%);
    width: auto;
}

.text{
    margin: 2rem;
    width: 37.5rem;
    font-size: 1rem;
    text-align: left;
 
}

.textcontainer{
    display: flex;
    justify-content: center;
    
}

.products{
    background:#1C1B1B;
    padding: 5% 10% 5% 10%;
    width: auto;
}

.ptitle{
    display: flex;
    background:#1C1B1B;
    width: auto;
}

.ptextcontainer{
    display: flex;
    color:aliceblue;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
}



  

/* ------------動畫在這裡------------ */

.textRight {
  opacity: 0;
  transform: translateX(200px); /*文字從右邊進入 */
  transition: opacity 1s ease-out, transform 1s ease-out;
  position: relative;
  left: -18rem;
  top : -2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textVisible {
  opacity: 1;
  transform: translateX(0); /*文字最終位置 */
}

.image {
    max-width: 100%;
    opacity: 0;
    transform: translateX(-100px); /* 從左邊進入 */
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    left: -5rem;
  }
  
  .visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .imageRight {
    max-width: 15%;
    opacity: 0;
    transform: translateX(100px); /* 從右邊進入 */
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    bottom : 5rem;
    left:1rem;

  }
  
  .visibleRight {
    opacity: 1;
    transform: translateX(0);
  }