
.contextforcard{
padding: 1rem;
  width: 250px;
}

.storycontainerimg{
position: absolute;
top:80%;
z-index: -1;
width: 100%;
height: 120%;
opacity:15%;

}

.link{
  text-decoration: none;
  color: #1C1B1B;
}
.story{
    display: flex;
    padding-bottom: 4rem;   
    align-items: center;
}
.textcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
  margin: 0rem 10rem 0rem 10rem;
}
.textcontainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#1C1B1B;
  padding:4rem;
}
.text{
    font-size: 1rem;
    margin: 0rem 5rem 0rem 5rem;
}


.buttondiv{
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  border-radius: 10rem;
  background-color: #1C1B1B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 0.5rem;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover,.button2:hover{
  background-color: #F4772F;
}

.button:hover span {

  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  border-radius: 10rem;
  background-color: #FFFFFF;
  border: none;
  color:#1C1B1B;
  text-align: center;
  font-size: 18px;
  padding: 0.5rem;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color:#FFFFFF;
}

.button2:hover span {
  padding-right: 25px;
  color:#FFFFFF;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}



.text2{
  margin: 2rem;
  padding-bottom: 5rem;
  width: 37.5rem;
  font-size: 1rem;
  text-align: left;
  color:aliceblue;
}
/* --------------------------------- */
.item{
   max-width: 100%;
    display: flex;
    justify-content: center;
}
.item1{
 padding-left: 10px;
}
/* --------------------------------- */


/* --------------------------------- */

.reserve{
  display: flex;
  max-width: 100%;
  background-color: white;
}
.reserveimg{
  display: flex;
  max-width: 100%;
}


.reservetextcontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.reservetext{
display: inline-block;
}

.storephoto{
  display: inline-block;
  align-content: space-around;
}
.photo{
  padding:3px 0 3px 0;
}


/* ------------動畫在這裡------------ */

.textRight {
  opacity: 0;
  transform: translateX(300px); /*文字從右邊進入 */
  transition: opacity 1s ease-out, transform 1s ease-out;
  position: relative;
  left: -18rem;
  top : -2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textVisible {
  opacity: 1;
  transform: translateX(0); /*文字最終位置 */
}
  /*------------ 產品圖動畫 ------------*/

  .img {
    max-width: 50%;
    opacity: 0;
    transform: translateX(-100px); /* 從左邊進入 */
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    left: -5rem;
  }
  .visible {
    opacity: 1;
    transform: translateX(0);
  }
  .imageRight {
    max-width: 15%;
    max-height: auto;
    opacity: 0;
    transform: translateX(100px); /* 從右邊進入 */
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: relative;
    bottom : 5rem;
    left:1rem;

  }
  .visibleRight {
    opacity: 1;
    transform: translateX(0);
  }
  .fadeIn{
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.7s ease-out;
  }
  .fadeIn2{
    width: 100%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .fadeIn3{
    width: 100%;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.1s ease-out, transform 1.3s ease-out;
  }
  .pro{
    opacity: 1;
    transform: translateY(0px);
  }


  


@media (max-width:1360px){

  .storycontainerimg{
    position: absolute;
    top:35%;
    z-index: -1;
    width: 100%;
    height: 200%;
    opacity:15%;
    }

  .textcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
    
  }
  .textcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
    background:#1C1B1B;
  }

.title{
    max-width: 100%;
  }

.img{
width: 20%;
height: auto;
}
  .imageRight {
width:15%;
height:10%;
}
.fadeIn,.fadeIn2,.fadeIn3{
width: 100%;
}
.resimg{
  width: 100%;
}

.photo{
  max-width: 100%;
  max-height: 100%;
}

.textRight {
  display: none;
  animation: none;
}

}



@media (max-width:540px){

  .storycontainerimg{
    position: absolute;
    top:25%;
    z-index: -1;
    width:100%;
    height: 100%;
    opacity:15%;
    overflow: hidden;
    }


.text{
    margin: 1rem;
    padding-bottom: 2rem;
    width: 37.5rem;
    font-size: 0.8rem;
    text-align: left;
}

.text2{
  margin: 1rem;
  padding-bottom: 2rem;
  width: 37.5rem;
  font-size: 0.8rem;
  text-align: left;
  color:aliceblue;
}

.item{
   display: none;
}

.textRight {
  display: none;
  animation: none;
}

.textcontainer{
    display: flex;
    justify-content: center;
    
}

.products{
    background:#1C1B1B;
    padding: 5% 10% 5% 10%;
    display: flex;
    justify-content: center;
}

.ptitle{
  margin-top: 2rem;
    width: auto;
}

.ptextcontainer{
    display: flex;
}

.item{
  display: none;
  animation: none;
}

.img{
  display: none;
  animation: none;
}
.imageRight {
  display: none;
  animation: none;

}
.visible {
  display: none;
  animation: none;
}
.visibleRight {
  display: none;
  animation: none;
}

.fadeIn,.fadeIn2,.fadeIn3{
  display: none;
  }

  .resimg{
  display: none;
  }
  
  .photo{
    display: none;
  }

 }

  

