
.body1{
   background-color: white;
   height: auto;
}

.bannercotainer{
  width:100% ;
  /* margin-right: 100px ; */
  height:100%;
  text-align: center ;
  background-size: cover;
}

.swiper{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  width: 100px;
  height: auto;
}

.roundedbox {
    width: 150px;              
    height: 30px;    
    margin-left: 155px;      
    background-color: rgb(255, 255, 255); 
    border-radius:20%;      
  }

  .citytext{
    color: #000;
    text-align: center;
    position: relative; 
    line-height: 30px;      
    
  }
  .title{
    margin-top: 30px; 
    margin-left: 30px; 
    display: flex;
  }
  .content{
    width: 31rem;
    margin-left: 30px;
    margin-top: 10px;
  }
  .buttonservice{
    width: 170px;              
    height: 30px;    
    margin-top: 2px;
    margin-left: 100px;  
    border-radius: 20%;    
    background-color: '#F37423'
  }
.linkbotton{
    width: 140px;              
    height: 30px;    
    margin-top: 3px;
    margin-left: 18px;    
    background-color: #f4772f;  
    color: #fff;
    border:20px      
}
  .botton{
    width: 140px;              
    height: 30px;    
    margin-top: 3px;
    margin-left: 18px;    
    background-color: #f4772f;  
    color: #fff;
    border:20px      
  }
  .rounded-custom{
    border-radius: 20px; 
  }
  .detailtext{
    margin-top: 125px;
    margin-bottom: 0px;
    margin-left:670PX ;
  }
  .btheight{
    margin-top: 25px;
    margin-left: 50px;
  }
  .vertical{
    overflow-y: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
 }
 .pic01{
    margin-top: 20px;
    margin-right: 20px;
 }
 .pic2{
    margin-bottom: 10px;
 }
 .pic3{
    margin-bottom: 10px;
 }
 .pic4{
    margin-bottom: 10px;
 }
.clickphoto{
  width: auto;
  background-color: #1C1B1B;
}
.leftright{
  width: auto;
  height: 500px;
}

/* 手機版裝置 */
 @media (max-width: 540px) {
  .banner-cotainer{
    width:100% ;

    height: 80% ;
    text-align: center ;
    background-size: cover;
  }
  .clickphoto{
    width: 540px;
    height: 280px;
    background-color: #1C1B1B;
  }
  .leftright{
    width: 87%;
    height: 500px;
  }
  .botton{
    display: none; 
  }
  .title{
    margin-top: 30px; 
    margin-left: 20px; 
    display: flex;
  }
  .content{
    width: 31rem;
    margin-left: 20px;
    margin-top: 10px;
  }
}