.bigdiv{
  width: 1427px;
  background-color: white;
  margin: auto;
}

.marqueecontainer {
  width: 1132px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid lightgrey;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

.marqueecontent {
  display: inline-block;
  padding-left: 100%; /* 确保文字从视图的右边开始 */
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
