
.alldiv{
  background-color: #1C1B1B;
}

.all{
  width: 1440px;
  margin: auto;
  background-color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 258px;
  margin: 28.8px auto;
  color: #FFFFFF;
  padding-top: 80px;
}
.filter_block{
  border-top: 1px solid #ccc;
  padding-bottom: 30px;
}

.filter_title{
 position:absolute;
  font-size: 20px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top:30px;
  font-weight: 600;
  
}
.fafilter{
color: #1C1B1B;
font-size: 16px;
margin-right: 15px;
}
.filter_btn{
  font-size: 18px;
  line-height: 40px;
  padding-left: 30px;
  margin-top:10px;
  padding-left: 30px;
  margin-top:10px;
  height: 40px;
  font-weight: 600;
  background-color: #D9D9D9;
  background-color: #D9D9D9;
color: #6b6b6b;
}

.filter_icon{
 position: relative;
 left:180px;
 top:8px;
 margin:30px;
}

.filter_opt{
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter_opt input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.filter_mark{
  position: absolute;
  top: 3px;
  left: 55px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter_opt:hover input ~ .filter_mark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter_opt input:checked ~ .filter_mark {
  background-color: #F4772F;
}
/* Create the checkmark/indicator (hidden when not checked) */
.filter_mark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.filter_opt input:checked ~ .filter_mark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter_opt .filter_mark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container{
  display: flex;
  width: 1440px;
  margin:auto;
  background-color: #1C1B1B;
}
.banner{
  width: 100%;
  height: 279px;
}

.context{
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
  width: 1160px;
}

.card{
  display: flex;
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  background-color: #FFFFFF;
  text-decoration:none;
  text-align: center;
  height:320px; 
}
.card:hover{
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
position:relative;
 top:-5px;}


.cardimg{
  width: 100%;
  height: 80%

}

.cardtitle{
  font-size: 13px;
  color: #1C1B1B;
  padding: 0.6rem;
}

.searchname{
  font-size: 20px;
  position: relative;
  top: 30px;
  left: 35px;
  
  
}

.searchbox{
  display: block;
  height: 40px;
  margin:auto;
  color: #eee;
  text-align: center;
margin-bottom: 30px;
  background-color: #1C1B1B;
  border: 0;
  border-bottom: 1px solid #F4772F;
  
}
.searchbox::placeholder {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  }
  .searchbox:focus{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border: 0;
  }

  .filter_price_input{
  height: 35px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: #9e9e9e;
  

  }

  .filter_price_title{
    font-size: 22px;
    padding-left: 30px;
    margin-top:30px;
    font-weight: 600;
  }

  .filter_price_intro{
    padding-left: 30px;
    font-size: 15px;
  }
  .filter_price_box{
    display: flex;
    justify-content: space-around;
    
  }
  .filter_price_dash{
    font-size: 30px;
    font-weight: bolder;
  }

  .order select{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    color: #F4772F;
    font-weight: 600;
    margin: 25px;
  }

  .order{
    display: flex;
    justify-content: flex-end;
    margin:10px 60px;
  }

  .pagenation{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin: 60px;
  }
  .pagenation a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px;
    font-size: 20px;
    
  }
  .pageactive a{
    
    text-decoration: none;
    color: #FFFFFF;
    margin: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 2px solid #F4772F;
    
  }

  .price_ori{
    font-size: 14px;
    text-decoration:line-through
;

  }
  .price_sale{
    font-size: 18px;
    color: red;
    font-weight: 700;
  }

  .price_block{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.5;
  }

  .saletag{
    height: 60px;
    width: 60px;
    position:absolute;
    right: -15px;
    top:-15px;
   
  }
  .wrong_msg{
    color: #eee;
  }

  @media(max-width: 540px) {

    .all{
      width: 370px;
    }
    .banner {
      width: 375px;
    height: 140px;}

    .context{
      width: 375px;
      width: 375px;
    }
    
  }