.contentALL {
  max-width: 50%; 
  padding: 20px; 
  background: black; 
  border-radius: 5px; 
}
.h2{
  color: white
}
.modalshape{
  background-color: white;
  padding: 20px;
}


.labelcss{
  padding: 10px;
}

.input {
  margin-bottom: 15px; /* 下邊距 */
  padding: 10px; /* 內邊距 */
  border: 1px solid #1b1b1b; /* 邊框 */
  border-radius: 4px; /* 圓角 */
}

.button {
  padding: 10px 15px; /* 內邊距 */
  background-color: #f4772f; 
  color: white; /* 白色字體 */
  border: none; /* 去掉邊框 */
  border-radius: 4px; /* 圓角 */
  cursor: pointer; /* 手形指標 */
  font-size: 1rem; /* 字體大小 */
}
