.sidebar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .userInfo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatarPlaceholder {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .membershipLevel {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .membershipLink {
    font-size: 12px;
    color: #f37423;
    text-decoration: none;
  }
  
  .membershipLink:hover {
    text-decoration: underline;
  }
  
  .divider {
    width: 80%;
    margin: 0;
    border: none;
    border-top: 1px solid #6d6a6a;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .navList li {
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .navList li:hover {
    background-color: #f5f5f5;
  }
  