.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1c1c;
  color: #000;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  width: 510px;
  height: 650px;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1; /* 讓內容位於 container 的上層 */
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.greeting {
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: left;
  margin-bottom: 8px;
  font-size: 14px;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 16px;
}

.rememberMe {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rememberLabel {
  margin-left: 8px;
  font-size: 14px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #000000;
}

.submitButton:hover {
  background-color: #f37423;
  border: 1px solid #f37423;
  color: #ffffff;
}

.otherLogin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.otherLoginText {
  margin-bottom: 10px;
}

.googleLoginButton {
  width: 100%;
  padding: 12px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.link {
  color: #4285f4;
  text-decoration: none;
}

.image {
  width: 550px;
  height: 700px;
}

.imageSection {
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.1);
  z-index: 20; /* 讓內容位於 container 的上層 */
}
